<!--主页男生最爱模块-->
<section class="channel-h5">
    <div class="channel-h5_header">
        <p class="channel-h5_title">男生最爱</p>
    </div>
    <div>
        <div>
            <ul class="list-h5">
                <li v-for="item in male">
                    <div class="book-h5">
                        <div class="book-h5_cover">
                            <img v-bind:src="item.cover" alt="{{item.title}}"
                            >
                            <p class="book-h5_finish">完结</p>
                        </div>
                        <div class="book-h5_info">
                            <p class="book-h5_title">{{item.title}}</p>
                            <p class="book-h5_author">{{item.author}}</p>
                            <p class="book-h5_summary">{{item.summary}}</p>
                            <div class="book-h5_wrap">
                                <div class="book-h5_tag" v-for="tag in item.tags">{{tag}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="channel-h5_footer">
            <a href="#">换一换</a>
            <a href="/male">男生频道</a>
        </div>
    </div>
</section>