<!--书架页面-->
<div class="shelf">
    <div class="shelf_top" style="width:{{screen_window}}px;">
        <div class="shelf_switch"></div>
        <a href="/search">
            <div class="shelf-search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="book-list">
        <li>
            <div class="u-book" style="width: {{screen_window}}px;">
                <a href="/book?id=18218">
                    <div class="book-cover">
                        <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01TQfpyV6px/06EirDzmjj8zuK.jpg!s"
                             alt="老九门">
                    </div>
                </a>
                <div class="info">
                    <h3 class="title">老九门</h3>
                    <p class="author">
                        <span class="author">南派三叔</span>
                    </p>
                    <div class="wrap">
                        <p>最新：《后记》</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>