<!--主页限时免费模块-->
<section class="channel-group">
    <div class="channel-group_header">
        <h2 class="channel-group_title">限时免费</h2>
    </div>
    <ul class="book-table">
        <li v-for="item in free">
            <a href="/book?id={{item.fiction_id}}">
                <div class="Ubook">
                    <div class="book-cover">
                        <img v-bind:src="item.data.cover" alt="{{item.title}}">
                        <div class="uTagRT freefiction"></div>
                    </div>
                    <div class="book-info">
                        <h3 class="title">{{item.ad_name}}</h3>
                    </div>
                </div>
            </a>

        </li>

    </ul>
    <a href="/free" class="channel-group_footer">更多限免佳作&gt;&gt;</a>
</section>